input[type="submit"],
.mui-btn-primary, .mui-btn-blue {
  color: #fff;
  background-color: #007aff;
  border: 1px solid #007aff;
}
input[type="submit"]:enabled:active, input[type="submit"].mui-active:enabled,
.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-blue.mui-active:enabled {
  color: #fff;
  background-color: #0062cc;
  border: 1px solid #0062cc;
}

.mui-btn-positive, .mui-btn-success, .mui-btn-green {
  color: #fff;
  background-color: #4cd964;
  border: 1px solid #4cd964;
}
.mui-btn-positive:enabled:active, .mui-btn-positive.mui-active:enabled, .mui-btn-success:enabled:active, .mui-btn-success.mui-active:enabled, .mui-btn-green:enabled:active, .mui-btn-green.mui-active:enabled {
  color: #fff;
  background-color: #2ac845;
  border: 1px solid #2ac845;
}

.mui-btn-warning, .mui-btn-yellow {
  color: #fff;
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;
}
.mui-btn-warning:enabled:active, .mui-btn-warning.mui-active:enabled, .mui-btn-yellow:enabled:active, .mui-btn-yellow.mui-active:enabled {
  color: #fff;
  background-color: #ec971f;
  border: 1px solid #ec971f;
}

.mui-btn-negative, .mui-btn-danger, .mui-btn-red {
  color: #fff;
  background-color: #dd524d;
  border: 1px solid #dd524d;
}
.mui-btn-negative:enabled:active, .mui-btn-negative.mui-active:enabled, .mui-btn-danger:enabled:active, .mui-btn-danger.mui-active:enabled, .mui-btn-red:enabled:active, .mui-btn-red.mui-active:enabled {
  color: #fff;
  background-color: #cf2d28;
  border: 1px solid #cf2d28;
}

.mui-btn-royal, .mui-btn-purple {
  color: #fff;
  background-color: #8a6de9;
  border: 1px solid #8a6de9;
}
.mui-btn-royal:enabled:active, .mui-btn-royal.mui-active:enabled, .mui-btn-purple:enabled:active, .mui-btn-purple.mui-active:enabled {
  color: #fff;
  background-color: #6641e2;
  border: 1px solid #6641e2;
}

.mui-btn-grey {
  color: #fff;
  background-color: #c7c7cc;
  border: 1px solid #c7c7cc;
}
.mui-btn-grey:enabled:active, .mui-btn-grey.mui-active:enabled {
  color: #fff;
  background-color: #acacb4;
  border: 1px solid #acacb4;
}

.mui-btn-outlined {
  background-color: transparent;
}
.mui-btn-outlined.mui-btn-primary, .mui-btn-outlined.mui-btn-blue {
  color: #007aff;
}
.mui-btn-outlined.mui-btn-positive, .mui-btn-outlined.mui-btn-success, .mui-btn-outlined.mui-btn-green {
  color: #4cd964;
}
.mui-btn-outlined.mui-btn-warning, .mui-btn-outlined.mui-btn-yellow {
  color: #f0ad4e;
}
.mui-btn-outlined.mui-btn-negative, .mui-btn-outlined.mui-btn-danger, .mui-btn-outlined.mui-btn-red {
  color: #dd524d;
}
.mui-btn-outlined.mui-btn-royal, .mui-btn-outlined.mui-btn-purple {
  color: #8a6de9;
}
.mui-btn-outlined.mui-btn-primary:enabled:active, .mui-btn-outlined.mui-btn-blue:enabled:active, .mui-btn-outlined.mui-btn-positive:enabled:active, .mui-btn-outlined.mui-btn-success:enabled:active, .mui-btn-outlined.mui-btn-green:enabled:active, .mui-btn-outlined.mui-btn-warning:enabled:active, .mui-btn-outlined.mui-btn-yellow:enabled:active, .mui-btn-outlined.mui-btn-negative:enabled:active, .mui-btn-outlined.mui-btn-danger:enabled:active, .mui-btn-outlined.mui-btn-red:enabled:active, .mui-btn-outlined.mui-btn-royal:enabled:active, .mui-btn-outlined.mui-btn-purple:enabled:active {
  color: #fff;
}

.mui-btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #007aff;
  background-color: transparent;
  border: 0;
}
.mui-btn-link:enabled:active, .mui-btn-link.mui-active:enabled {
  color: #0062cc;
  background-color: transparent;
}

.mui-btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.mui-btn .mui-badge {
  margin: -2px -4px -2px 4px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, .15);
}

.mui-btn .mui-badge-inverted,
.mui-btn:enabled:active .mui-badge-inverted {
  background-color: transparent;
}

.mui-btn-primary:enabled:active .mui-badge-inverted,
.mui-btn-positive:enabled:active .mui-badge-inverted,
.mui-btn-negative:enabled:active .mui-badge-inverted {
  color: #fff;
}

.mui-btn-block .mui-badge {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.mui-badge {
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1;
  color: #333;
  background-color: rgba(0, 0, 0, .15);
  border-radius: 100px;
}
.mui-badge.mui-badge-inverted {
  padding: 0 5px 0 0;
  color: #929292;
  background-color: transparent;
}

.mui-badge-primary, .mui-badge-blue {
  color: #fff;
  background-color: #007aff;
}
.mui-badge-primary.mui-badge-inverted, .mui-badge-blue.mui-badge-inverted {
  color: #007aff;
  background-color: transparent;
}

.mui-badge-success, .mui-badge-green {
  color: #fff;
  background-color: #4cd964;
}
.mui-badge-success.mui-badge-inverted, .mui-badge-green.mui-badge-inverted {
  color: #4cd964;
  background-color: transparent;
}

.mui-badge-warning, .mui-badge-yellow {
  color: #fff;
  background-color: #f0ad4e;
}
.mui-badge-warning.mui-badge-inverted, .mui-badge-yellow.mui-badge-inverted {
  color: #f0ad4e;
  background-color: transparent;
}

.mui-badge-danger, .mui-badge-red {
  color: #fff;
  background-color: #dd524d;
}
.mui-badge-danger.mui-badge-inverted, .mui-badge-red.mui-badge-inverted {
  color: #dd524d;
  background-color: transparent;
}

.mui-badge-royal, .mui-badge-purple {
  color: #fff;
  background-color: #8a6de9;
}
.mui-badge-royal.mui-badge-inverted, .mui-badge-purple.mui-badge-inverted {
  color: #8a6de9;
  background-color: transparent;
}
.mui-icon .mui-badge {
  position: absolute;
  top: -2px;
  left: 100%;
  padding: 1px 5px;
  margin-left: -10px;
  font-size: 10px;
  line-height: 1.4;
  color: white;
  background: red;
}
.mui-btn .mui-icon {
  font-size: inherit;
}

.mui-btn.mui-icon {
  font-size: 14px;
  line-height: 1.42;
}

.mui-btn.mui-fab {
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 50%;
  outline: none;
}
.mui-btn.mui-fab.mui-btn-mini {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.mui-btn.mui-fab .mui-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}
.mui-bar .mui-btn-link {
  top: 0;
  padding: 0;
  font-size: 16px;
  line-height: 44px;
  color: #007aff;
  border: 0;
}
.mui-bar .mui-btn-link:active, .mui-bar .mui-btn-link.mui-active {
  color: #0062cc;
}
.mui-button-row {
  position: relative;
  padding-top: 5px;
  text-align: center;
}
.mui-input-group .mui-button-row {
  height: 45px;
}