/*****************************************/
/*基础header颜色*/
.bc-head {
    background-color: #00A1EA;
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
    background-color: #EEEEEE;
}
/*辅助控件背景颜色*/
.sc-bg {
    background-color: #EEEEEE;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    background-color: #DFDFDF;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: black;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
/*辅助字体颜色*/
.sc-text {
    color: #848484;
}
/*辅助字体颜色*/
.sc-text-active {
    color: #00A1EA !important;
}
/*辅助字体颜色*/
.sc-text-hint {
    color: #E3E3E3;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    color: #636363;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #BABABA;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
.sc-border-tab {
    border-color: #00A1EA;
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    background-color: #007DB8;
}
/*辅助按钮颜色*/
.sc-btn {
    background-color: #00A1EA;
}









.c-blu{
   background-color: #007AFF; 
}
.c-yel{
   background-color:#EC971F;
}
.c-red{
    background-color:#CF2D28;
}
.c-pur{
    background-color:#6641E2;
}
.c-wh{
    background-color:#EEEEEE;
}
.c-gra{
    background-color:#808080;
}
.bor-blu{
   border-color: #007AFF; 
}
.bor-yel{
   border-color:#EC971F;
}
.bor-red{
    border-color:#CF2D28;
}
.bor-pur{
    border-color:#6641E2;
}
.bor-wh{
    border-color:#EEEEEE;
}
.bor-gra{
    border-color:#808080;
}
.t-blu{
   color: #007AFF; 
}
.t-yel{
   color:#EC971F;
}
.t-red{
    color:#CF2D28;
}
.t-pur{
    color:#6641E2;
}
.t-wh{
    color: #EEEEEE;
}
.t-gra{
    color:#808080;
}





