.mui-bar-nav {
    top: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
}
.mui-bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(247, 247, 247, .98);
    border-bottom: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mui-bar .mui-title {
    right: 40px;
    left: 40px;
    width: auto;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mui-bar .mui-btn-link {
    top: 1px;
}
.mui-bar .mui-btn {
    font-weight: normal;
    font-size: 17px;
}
.mui-bar .mui-btn-link {
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    color: #007aff;
    border: 0;
}
.mui-bar .mui-btn {
    position: relative;
    top: 7px;
    z-index: 20;
    padding: 6px 12px 7px;
    margin-top: 0;
    font-weight: 400;
}
.mui-btn-link {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #007aff;
    background-color: transparent;
    border: 0;
}
input[type="submit"], .mui-btn-primary, .mui-btn-blue {
    color: #fff;
    background-color: #007aff;
    border: 1px solid #007aff;
}
.mui-bar .mui-btn .mui-icon {
    top: 1px;
    padding: 0;
    margin: 0;
}
.mui-bar-nav.mui-bar .mui-icon {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: -10px;
    margin-left: -10px;
}
.mui-bar .mui-icon {
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
.mui-btn .mui-icon {
  font-size: inherit;
}

.mui-btn.mui-icon {
  font-size: 14px;
  line-height: 1.42;
}
.mui-bar .mui-pull-left .mui-icon {
    padding-right: 5px;
    font-size: 28px;
}
.mui-bar .mui-btn {
    font-weight: normal;
    font-size: 17px;
}
.mui-bar .mui-btn-link {
    top: 1px;
}
.mui-bar-nav ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
  top: 44px;
}
.mui-bar-nav {
  top: 0;
  -webkit-box-shadow: 0 1px 6px #ccc;
          box-shadow: 0 1px 6px #ccc;
}
.mui-bar-nav ~ .mui-content .mui-anchor {
  display: block;
  height: 45px;
  margin-top: -45px;
  visibility: hidden;
}
.mui-title {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 -10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.mui-title a {
  color: inherit;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  top: 3px;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
  display: block;
  overflow: hidden;
  font-size: 11px;
  text-overflow: ellipsis;
}
.mui-bar-tab .mui-tab-item .mui-icon:active {
  background: none;
}
.mui-bar .mui-btn-nav.mui-pull-left {
  margin-left: -5px;
}
.mui-bar .mui-btn-nav.mui-pull-left .mui-icon-left-nav {
  margin-right: -3px;
}
.mui-bar .mui-btn-nav.mui-pull-right {
  margin-right: -5px;
}
.mui-bar .mui-btn-nav.mui-pull-right .mui-icon-right-nav {
  margin-left: -3px;
}
.mui-bar .mui-btn-nav:active {
  opacity: .3;
}

.mui-table-view .mui-media-object.mui-pull-left {
  margin-right: 10px;
}
.mui-table-view .mui-media-object.mui-pull-right {
  margin-left: 10px;
}
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object.mui-pull-left {
  margin-right: 10px;
}
.mui-pull-left {
  float: left;
}

.mui-pull-right {
  float: right;
}
input[type="button"],input[type="submit"],input[type="reset"],button,.mui-btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: all;
          transition: all;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
input[type="button"]:enabled:active, input[type="button"].mui-active:enabled,
input[type="submit"]:enabled:active,
input[type="submit"].mui-active:enabled,
input[type="reset"]:enabled:active,
input[type="reset"].mui-active:enabled,
button:enabled:active,
button.mui-active:enabled,
.mui-btn:enabled:active,
.mui-btn.mui-active:enabled {
  color: #fff;
  background-color: #929292;
}
input[type="button"]:disabled, input[type="button"].mui-disabled,
input[type="submit"]:disabled,
input[type="submit"].mui-disabled,
input[type="reset"]:disabled,
input[type="reset"].mui-disabled,
button:disabled,
button.mui-disabled,
.mui-btn:disabled,
.mui-btn.mui-disabled {
  opacity: .6;
}
.mui-btn-outlined.mui-btn-primary, .mui-btn-outlined.mui-btn-blue {
  color: #007aff;
}
.mui-btn-outlined.mui-btn-primary:enabled:active, .mui-btn-outlined.mui-btn-blue:enabled:active, .mui-btn-outlined.mui-btn-positive:enabled:active, .mui-btn-outlined.mui-btn-success:enabled:active, .mui-btn-outlined.mui-btn-green:enabled:active, .mui-btn-outlined.mui-btn-warning:enabled:active, .mui-btn-outlined.mui-btn-yellow:enabled:active, .mui-btn-outlined.mui-btn-negative:enabled:active, .mui-btn-outlined.mui-btn-danger:enabled:active, .mui-btn-outlined.mui-btn-red:enabled:active, .mui-btn-outlined.mui-btn-royal:enabled:active, .mui-btn-outlined.mui-btn-purple:enabled:active {
  color: #fff;
}
input[type="submit"]:enabled:active, input[type="submit"].mui-active:enabled,
.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-blue.mui-active:enabled {
  color: #fff;
  background-color: #0062cc;
  border: 1px solid #0062cc;
}
.mui-btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #007aff;
  background-color: transparent;
  border: 0;
}
.mui-btn-link:enabled:active, .mui-btn-link.mui-active:enabled {
  color: #0062cc;
  background-color: transparent;
}

/*footer*/
.mui-bar .mui-btn-link {
  top: 0;
  padding: 0;
  font-size: 16px;
  line-height: 44px;
  color: #007aff;
  border: 0;
}
.mui-bar .mui-btn-link:active, .mui-bar .mui-btn-link.mui-active {
  color: #0062cc;
}
.mui-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #007aff;
}
.mui-bar-tab .mui-tab-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    overflow: hidden;
    color: #929292;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.mui-badge {
    display: inline-block;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1;
    color: #333;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 100px;
}
.mui-icon .mui-badge {
    position: absolute;
    top: -2px;
    left: 100%;
    padding: 1px 5px;
    margin-left: -10px;
    font-size: 10px;
    line-height: 1.4;
    color: white;
    background: red;
}
