.mui-input-group .mui-input-row {
    height: 40px;
}
.mui-input-row {
    overflow: hidden;
    clear: left;
}
.mui-input-row {
    position: relative;
}
.mui-search {
    position: relative;
}
.mui-input-row .mui-input-clear~.mui-icon-clear.mui-hidden~.mui-icon-speech {
  display: inline-block;
}
.mui-input-row .mui-input-clear~.mui-icon-clear~.mui-icon-speech {
  display: none;
}
.mui-search:before {
    position: absolute;
    top: 50%;
    right: 50%;
    display: none;
    margin-top: -18px;
    margin-right: 31px;
    font-family: Muiicons;
    font-size: 20px;
    font-weight: normal;
    content: '\e466';
}
.mui-search input[type="search"] {
    padding-left: 30px;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear, .mui-input-row .mui-input-speech ~ .mui-icon-speech {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    width: 38px;
    height: 38px;
    font-size: 20px;
    color: #999;
    text-align: center;
}
.mui-input-row.mui-search .mui-icon-clear {
    top: 7px;
}
.mui-input-row.mui-search .mui-icon-speech {
  top: 5px;
}
.mui-hidden {
    display: none !important;
}
.mui-icon-close-filled:before, .mui-icon-clear:before {
    content: "\e434";
}
.mui-input-row .mui-icon-speech~.mui-placeholder {
  right: 38px;
}
.mui-search .mui-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    color: #999;
    text-align: center;
    background: none;
    border: 0;
    border-radius: 6px;
}
.mui-search .mui-placeholder .mui-icon {
  font-size: 20px;
  color: #333;
}
.mui-icon-search:before {
    content: "\e466";
}
.mui-icon-mic-filled:before, .mui-icon-speech:before {
    content: "\e332";
}
.mui-input-group {
    position: relative;
    padding: 0;
    background-color: #fff;
    border: 0;
}
.mui-input-group:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.mui-input-group:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.mui-input-group .mui-input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.mui-input-row label {
    float: left;
    width: 35%;
    padding: 10px 15px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
}
.mui-input-group input:last-child {
    background-image: none;
}
.mui-input-group input[type=text], .mui-input-group textarea {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mui-input-row label ~ input, .mui-input-row label ~ select, .mui-input-row label ~ textarea {
    float: right;
    width: 65%;
    padding-left: 0;
    margin-bottom: 0;
    border: 0;
}
.mui-input-row:last-child, .mui-input-row label + input, .mui-input-row .mui-btn + input {
    background-image: none;
}
.mui-input-group input[type=text]:after, .mui-input-group textarea:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

/*登录文本框输入*/
.ui-login-form {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    background-color: #ddd;
}
.ui-login-form input {
    border: none;
    margin: 0px;
    font-size: 18px;
    padding: 15px !important;
    border-radius: 0px;
    height: auto;
}
.ui-login-form input:first-child {
    margin-bottom: 1px;
}

.mui-checkbox label {
    display: inline-block;
    width: auto;
    vertical-align: text-bottom;
    padding: 2px 0px;
    color: #777;
}
.mui-checkbox input {
    position: relative !important;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    margin: 0px;
    padding: 0px;
    vertical-align: text-bottom;
}
.mui-checkbox {
    margin: 3px 10px;
}