.mui-content > .mui-table-view:first-child {
    margin-top: 15px;
}
.mui-table-view {
    position: relative;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
}
.mui-table-view:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.mui-table-view-cell {
    position: relative;
    padding: 11px 15px;
    overflow: hidden;
    background-color: inherit;
    -webkit-touch-callout: none;
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.mui-switch.mui-active {
    background-color: #4cd964;
    border-color: #4cd964;
}
.mui-table-view-cell > .mui-btn, .mui-table-view-cell > .mui-badge, .mui-table-view-cell > .mui-switch, .mui-table-view-cell > a > .mui-btn, .mui-table-view-cell > a > .mui-badge, .mui-table-view-cell > a > .mui-switch {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mui-switch {
    position: relative;
    display: block;
    width: 74px;
    height: 30px;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ddd;
    border-radius: 20px;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
}
.mui-switch.mui-active:before {
    right: auto;
    left: 15px;
    color: #fff;
    content: "On";
}
.mui-switch:before {
    position: absolute;
    top: 3px;
    right: 11px;
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    content: "Off";
}
.mui-switch.mui-active .mui-switch-handle {
    -webkit-transform: translate3d(43px, 0, 0);
    transform: translate3d(43px, 0, 0);
}
.mui-switch .mui-switch-handle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    width: 28px;
    height: 28px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 16px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-property: -webkit-transform, width,left;
    transition-property: transform, width,left;
}
.mui-table-view {
    position: relative;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
}
.mui-switch-mini {
    width: 47px;
}
.mui-switch-mini:before {
    display: none;
}
.mui-switch-mini.mui-active .mui-switch-handle {
  -webkit-transform: translate3d(16px, 0, 0);
          transform: translate3d(16px, 0, 0);
}
.mui-switch-blue.mui-active {
  background-color: #007aff;
  border: 2px solid #007aff;
}