.mui-table-view-cell.mui-collapse .mui-collapse-content {
  position: relative;
  display: none;
  padding: 8px 15px;
  margin: 11px -15px -11px;
  overflow: hidden;
  background: white;
  border: 1px solid #ddd;
  -webkit-transition: height .35s ease;
       -o-transition: height .35s ease;
          transition: height .35s ease;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content > .mui-input-group, .mui-table-view-cell.mui-collapse .mui-collapse-content > .mui-slider {
  width: auto;
  height: auto;
  margin: -8px -15px;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content > .mui-slider {
  margin: -8px -16px;
}
.mui-table-view-cell.mui-collapse .mui-table-view {
  display: none;
  margin-top: 11px;
  margin-right: -15px;
  margin-bottom: -11px;
  margin-left: -15px;
  border: 0;
}
.mui-table-view-cell.mui-collapse .mui-table-view.mui-table-view-chevron {
  margin-right: -65px;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
  padding-left: 31px;
  background-position: 31px 100%;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 30px;
  height: 1px;
  content: '';
  background-color: #c8c7cc;
  -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
}
.mui-navigate-left:after, .mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    position: absolute;
    top: 50%;
    display: inline-block;
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    color: #bbb;
    text-decoration: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
}
.mui-navigate-right:after, .mui-push-right:after {
    right: 15px;
    content: '\e583';
}
.mui-table-view-cell.mui-collapse > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse > .mui-push-right:after {
    content: '\e581';
}
.mui-content > .mui-card:first-child {
    margin-top: 15px;
}


